@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700|Work+Sans:400,600,700&subset=latin-ext');
body {
    font-family: $body-font;
    background: $body-color-1;
    font-size: $base-font-size;
    color: $text-primary;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;

}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $headings-fonts;
    font-weight: normal;
}

a {
    color: $link-color;
    text-decoration: none;
}


p {
    margin: 0;
    line-height: 1.5;
    color: $text-primary;
}

.smaller {
  font-size: $base-small-font-size;
}

.notfound {
    font-size: 15vw;
    margin:0;
}

.line {
    height: $base-size-unit + 3px;
    width: 100%;
    background-color: $line-color;
}
.red {
    color: #d64747;
}
.center {
  text-align: center;
}

.x--p {
    padding: 12px;
}
.x--p-l {
    padding: 24px;
}

.x--ph {
    padding: 0 12px;
}

.x--ph-l {
    padding: 0 24px;
}

.x--pv {
    padding: 12px 0;
}

.x--pv-l {
    padding: 24px 0;
}

.btn {
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  cursor: pointer;
  transition: all .15s ease;
  font-size: 1.5em;
  font-family: $headings-fonts;

  outline:none;
  border:0;
  padding: 6px 12px;
  border-radius: 4px;
  color:white;


  &:hover,
  &:focus {
    transform: translateY(-1px);
    text-shadow: 0 7px 14px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &--primary {
    background: #fff;
  }

  &--success {
    background: #3ecf8e;
  }

}

.main-content {
    @extend .wrapper
}
