.animate {
    transition: opacity 1.5s ease, transform 1s ease;
    &[data-emergence="hidden"] {
      transform: translateX(30px);
      opacity:0;
    }
    &[data-emergence="visible"] {
      opacity:1;
      transform: translateX(0px);
    }
}


.line {
  transition: width 1s ease-in-out;
  &[data-emergence="hidden"] {
    width:0%
  }

  &[data-emergence="visible"] {
    width:100%;
  }
}
