@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Work+Sans:400,700&subset=latin-ext');

body {
    font-family: $body-font;
    background: #3d424e; /* Old Browsers */
    background: -webkit-linear-gradient(top,#3d424e,#1d1e21); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#3d424e,#1d1e21); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#3d424e,#1d1e21); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #3d424e, #1d1e21); /*Standard*/
    font-size: $base-font-size;
    color: $text-primary;
    overflow-x: hidden;
    height: 100%;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $headings-fonts;
    font-weight: normal;
}

p {
    margin: 0;
    line-height: 24px;
}

.smaller {
  font-size: $base-small-font-size;
}

.line {
    height: 2px;
    width: 0;
    background-color: #5c5edc;
}

.center {
  text-align: center;
}

.x--p {
    padding: 12px;
}
.x--p-l {
    padding: 24px;
}

.btn {
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  cursor: pointer;
  transition: all .15s ease;
  font-size: 1.5em;
  font-family: $headings-fonts;

  outline:none;
  border:0;
  padding: 6px 12px;
  border-radius: 4px;
  color:white;


  &:hover,
  &:focus {
    transform: translateY(-1px);
    text-shadow: 0 7px 14px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &--primary {
    background: #fff;
  }

  &--success {
    background: #3ecf8e;
  }

}

.main-content {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
