.header {
    position: absolute;
    display: flex;

    align-items: center;
    top: 0;
    left: 0;
    z-index: 10000;
    height: auto;
    width: 100%;
    padding: 12px;
    background: $page;
    transition: background 0.3s linear, box-shadow 0.4s ease;

    &.scrolled {
        box-shadow: 1px 1px 10px #000;
    }

    &.active {
        background: $body;
    }

    .logo {
        position: relative;
        padding: 0;
        margin-left: 24px;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 900;
        color: white;
        letter-spacing: 2px;

        &:hover {
            color: white;
            opacity: 0.5;
        }
    }
}
@media screen and (max-width: 40em) {
    .logo {
        // left: auto;
        // right:80px;
        // top:10px;
    }
}
