
.menu_container {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
    }

    ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        width: 100%;
        padding:0;
        margin:0;
    }

    .contact {
      background: #3ecf8e;
      text-shadow: 0 1px 3px rgba(36,180,126,.4);
      letter-spacing: .025em;
      cursor: pointer;
      transition: all .15s ease;
      font-size: 2em;

      outline:none;
      font-family: $headings-fonts, serif;
      border:0;
      padding: 12px;
      border-radius: 4px;
      color:white;

      &:hover {
        transform: translateY(-1px);
        text-shadow: 0 7px 14px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
        //box-shadow: 0 7px 14px rgba(0,0,0,.1),0 3px 6px rgba(0,0,0,.08);
    }
}

.js .pages-nav {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30vh;
    padding: 30px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
    transition: transform 1.2s, opacity 1.2s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0);

    .contact {
      font-size: calc(2vw + 3px);
    }
}

.js .pages-nav--open {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page_item {
    padding: 1em;
}

.js .page_item {
    &.current_page_item {
      .item {
        color: #999;
      }
    }
}

.pages-nav .page_item--social {
    width: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
    transition: transform 1.2s, opacity 1.2s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

.pages-nav--open .page_item--social {
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

a.item {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $headings-fonts, sans-serif;
    transition: all 0.5s ease;
}

a.item:focus,
a.item:hover {
    color: #fff;
}

.text-hidden {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    color: transparent;
}

@media(max-width:980px) {

    .pages-nav {
        ul {
            // display: block;

            li.page_item {
                // width: 100%;
            }
        }
    }
}


// MENU BUTTON
.menu-button {
    position: relative;
    z-index: 1000;
    width: 30px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.no-js .menu-button {
    display: none;
}

.menu-button span,
.menu-button::after,
.menu-button::before {
    background: $menu-botton-color;
}

.menu-button::after,
.menu-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.menu-button span {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 2px;
    text-indent: 200%;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.menu-button::before {
    -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
    transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
    -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
    transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button--open span {
    opacity: 0;
}

.menu-button--open::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}
