html.js,
.js body {
}



/* Pages stack */

.js .pages-stack {
	height: 100%;
	width:100%;
	margin-top: 81px;
}

.js .page {
	position: relative;
	overflow-y: auto;
	overflow-x:hidden;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	background: $page;
	box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.js .pages-stack--open .page {
	cursor: pointer;
  overflow: hidden !important;
	-webkit-transition: -webkit-transform 0.45s, opacity 0.45s;
	transition: transform 0.45s, opacity 0.45s;
	-webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
	transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.js .page--inactive {
	position: absolute;
	z-index: 0;
	top: 0;
	opacity: 0;
}

.poster {
	position: absolute;
	bottom: 4vh;
	left: 60%;
	max-width: 100%;
	max-height: 80%;
}
