.accordion {

   dt {
	   font-family: $headings-fonts;
	   font-weight: normal;
	   margin: 24px 0;
	   vertical-align: top;

		a {
			font-size: 25px;
			color: #8d8d8d;
		}
	   &:before {
		   content: '\21C0';
		   margin-right: 6px;
	   }
		&.active {
			a {
			  color: white;
		  	}
			&:before {
			content: '\21C2';
			margin-right: 12px;
		}
	}
   }  

  dd {
	 display: none;
     font-size: 16px;
	 margin:0;
	 padding: 12px 24px;
	 &.active {
		 display: block;
		 
	 }
  }

  dd,dt {
	&.active {
		animation: bgChange 1.2s ease;
	}
  }
}

@keyframes bgChange {
  0% { background:$link-color; }
  100% { background: transparent; }
}