.accordion {

	&_prototype {
		&--mobile {
			display: none;
		}

		@media screen and (max-width:800px) {
			&--mobile {
				display: block;
				height: 500px;
			}
			&--desktop {
				display: none;
			}
		}
	}

   dt {
	   font-family: $headings-fonts;
	   font-weight: normal;
	   margin: 24px 0 0 0;
		 padding: 12px;
	   display: flex;
	   align-items: baseline;

		a {
			font-size: 25px;
			color: $text-secondary;
				&:hover {
					color: $text-primary;
				}
		}
			&.active {
				a {
					color: $text-primary;
				}
			}
   }  

  dd {
	 visibility: hidden;
   font-size: 16px;
	 margin:0;
	 border-bottom: 2px solid $line-color;
	 opacity: 0;
	 transform: translateX(20px);
	 transition: opacity 0.9s ease, transform 0.7s ease;
	 height:0;
		&.active {
				padding: 12px 24px 24px 12px;
				height: auto;
				visibility: visible;
				opacity:1;
				transform: translateX(0px);
				
			}
  	}
  }