.header {
    transition: all 0.5s ease;
    padding: 0 12px;

    @media screen and (max-width:1000px) {
        padding: 12px;
    }
    
    &_inner {
      @extend .wrapper;  
    }

    .logo {
           height: 45px;
    }
}
