.header {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    z-index: 2;
    transition: background 0.3s linear, box-shadow 0.4s ease;
    transition: all 0.5s ease;
    padding: 12px;

    &_inner {
        @extend .wrapper;
    }

    .logo {
        font-size: 2em;
        position: relative;
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }

    }
}
