.header {
    transition: all 0.5s ease;
    padding: 12px;
    
    &_inner {
      @extend .wrapper;  
    }

    .logo {
        font-size: 2em;
        position: relative;
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }

    }
}
