.menu_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        width: 100%;
        padding:0;
        margin:0;
    }

    &.mobile_menu {
        display: flex;
        justify-content: flex-start;
        width:100%;
    }
}



.overlay {
    display: none;
    &.overlay_is--hidden {
        display: none;
    }
}

.page_item {
    &.current_page_item {
       background: $menu-link-active-color;
      .item {
        color: #fff;
      }
    }
}


a.item {
    display: inline-block;
    padding: 1.5em;
    font-size: 1.2em;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $headings-fonts, sans-serif;
    transition: font-size 0.5s ease;
    text-decoration: none;
    color: $menu-link-color;
}

a.item:focus,
a.item:hover {
    color: $menu-link-hover-color;
}

.text-hidden {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    color: transparent;
}

// MENU BUTTON
.menu-button {
    position: relative;
    display: none;
    z-index: 1000;
    width: 30px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.no-js .menu-button {
    display: none;
}

.menu-button span,
.menu-button::after,
.menu-button::before {
    background: $menu-botton-color;
}

.menu-button::after,
.menu-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.menu-button span {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 2px;
    text-indent: 200%;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.menu-button::before {
    -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
    transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
    -webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
    transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button--open span {
    opacity: 0;
}

.menu-button--open::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}


@media screen and ( max-width: 1000px ) {
    .menu_container {
        display: none;
    }
    .menu-button {
        display: inline-block;
    }
    .overlay {
        display:block;
    }

    a.item {
        padding: 1em;
    }
    .page_item {
        width: 100%;
        text-align:center;
    }
}