.review {
    margin: 48px 0;
    &_image {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    &_quote {
        font-style: italic;
        margin:0;
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 28px;
    }
    &_author {
        color: $text-secondary;
    }

    @media screen and (max-width: 64em) {
        &_image {
            margin-bottom: 24px;
        }
    }
}