.contact {
    padding: 24px;
    &_info {
        list-style: none;
        margin: 0;
        li {
            padding: 6px 0;
        }
    }

    fieldset {
        border: 0;
    }

    textarea {
      width:100%;
      height: 200px;
      border:0;
      outline:0;
      color:white;
      padding: $base-size-unit*4;
      resize: none;
      border-bottom: 2px solid $link-color;
      background: $input-bg;
      font-family: $body-font;
      font-size: $base-font-size;
    }

    &_success {
        border: 1px solid $contant-success-border;
        padding: 24px;
    }

    &_error {
        border: 1px solid $contact-error-border;
        padding: 24px;
    }

    .input-group {
        display: flex;
        position: relative;
        margin: 12px 0;

        .input {
            padding: $base-size-unit * 3;
            padding-top: 32px;
            border: 0;
            background: $input-bg; //$page;
            color: $text-primary;
            font-family: $headings-fonts, sans-serif;
            transition: border 1s ease, background 0.4s ease;
            border-bottom: 2px solid $input-border-color;
            border-radius: 0%;
            width:100%;

            &--textarea {
                padding-top: 0;
                padding: 12px;
            }

            + .label {
                position: absolute;
                left: 15px;
                background: transparent;
                transition: background 1s ease;
                padding: 6px 0 0 9px;
                user-select: none;
            }

            &--checkbox + .label {
              position: relative;
              padding-left: 40px;
              line-height: 28px;
              cursor: pointer;
              display: flex;
              user-select:none;
           }

            &--checkbox {
              position: absolute;
              left: -9999px;

              + .label:before {
                position: absolute;
                content: ' ';
                left:0;
                top:0;
                width: 28px;
                height: 28px;
                background: $checkbox-bg;
                border: 1px solid $checkbox-border;
                &:focus {
                    outline: 1px solid green;  
                }
              }

                &:not(:checked) {
                    + .label:after {
                        position:absolute;
                        content: '';
                    }
                }

                &:focus {
                    border: 1px solid green;
                }

                &:checked {
                  + .label:after {
                   position:absolute;
                   content: ' ';
                   display: flex;
                   justify-content: center;
                    top: 6px;
                    left: 6px;
                   width: 18px;
                   height: 18px;
                   background: $checkbox-dot-bg;
                   overflow: hidden;
                  }
                }
            }

            &:focus {
                background: $input-focus-bg;
                outline: none;
            }

            &:valid {
                border-bottom: 2px solid #3ecf8e;
            }

            &:focus + .label {
                padding: 6px 0 0 9px;
                color: $text-primary;
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

input:-webkit-autofill {
    background-color: transparent;
}