.home {

    &_block {
        padding: 48px 0;
    }

    .hero {
        background:linear-gradient(to bottom,
            rgba(61, 66, 77, 0.8),
            rgba(61, 66, 77, 0.5),  
            rgba(61, 66, 77, 0.1)
        ), url('../images/hero-image.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 450px;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
            font-size: calc(2.5vw + 10px);
            padding: 10px;
            font-weight: 100;
            position: relative;
            &--default {
                padding: $base-size-unit * 4;
                color: white;
                text-align: left;
                font-weight: normal;
                .red {
                //   color: indianred;
                }
            }

            &--attitude,
            &--furniture,
            &--with {
                position: absolute;
                background: black;
                padding: 12px;
            }

            &--furniture {
                top: 15%;
                left: 30%;
                display: block;
                transform: rotate(-5deg);
            }

            &--attitude {
                top: 45%;
                left: 30%;
                display: block;
                transform: scale(1);
                text-align: center;
                z-index: 5;
            }

            &--with {
                top: 25%;
                left: 60%;
                display: block;
                transform: rotate(-10deg) scale(0.6);
                text-align: center;
                background: yellow;
                color: black;
                z-index: 10;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .hero {
            height: 350px;
        }
    }
}
