.home {

    &_block {
        padding: 48px 0;
    }

    .hero {
        background: linear-gradient(to bottom, 
                  rgba(61, 66, 77, 0.1), 
                  rgba(0,0,0,0.8)),
                    url(../images/example-bg-4.jpg);
        background-repeat: no-repeat;
        background-position: 100% 70%;
        height: 600px;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &__text {
            font-size: calc(3vw + 10px);
            padding: 10px;
            font-weight: 100;
            position: relative;
            text-transform: uppercase;
            // text-shadow: 1px 1px 5px #656363;
            &--default {
                padding: $base-size-unit * 4;
                color: white;
                text-align: center;
                font-weight: 600;
                font-family: $headings-fonts;
                margin-bottom: 4%;
                &--red {
                    color:#FF4D4D;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {

        &_block {
            padding: 24px 0;
        }

        .hero {
            height: 250px;
        }
    }
}
