.home {

    &_block {
        padding: 48px 0;
    }

    .hero {
        background: linear-gradient(to bottom, 
                  rgba(61, 66, 77, 0.1), 
                  rgba(0,0,0,0.7)),
                    url(../images/example-bg-4.jpg);
        background-repeat: no-repeat;
        background-position: 100% 40%;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &__scroll {
            margin: 48px 0;
            width: 35px;
            animation: fadeIn 2s infinite;
            cursor:pointer;
        }

        &__text {
            width: 50%
        }
        

        &__content {
            padding: 12px;
            width:100%;
            text-align: center;
        }
    }

    @media screen and (max-width: 600px) {
        .hero__text {
            width: 80%;
        }

        &_block {
            padding:0;
        }

        .hero {
            height: calc(100vh - 78px);
        }
    }
}


@keyframes fadeIn {
    0% { opacity:0.6; transform: translateY(10px)}
    50% {opacity: 1; transform: translateY(0px)}
    100% {opacity: 0.6; transform: translateY(10px)}
}